<div class="container-fluid pt-4 px-4">
  <div class="bg-light rounded p-4">
    <h4 class="mb-4">Edit Car</h4>
    <form (ngSubmit)="onSubmit()">

      <div class="mb-3">
        <label>Car Name</label>
        <input class="form-control" type="text" [(ngModel)]="carObj.carName" name="carName" required>
      </div>

      <div class="mb-3">
        <label>Car Type</label>
        <input class="form-control" type="text" [(ngModel)]="carObj.carType" name="carType" required>
      </div>

      <div class="mb-3">
        <label>Brand</label>
        <input class="form-control" type="text" [(ngModel)]="carObj.brand" name="brand" required>
      </div>

      <div class="mb-3">
        <label>Price Per Day</label>
        <input class="form-control" type="number" [(ngModel)]="carObj.pricePerDay" name="pricePerDay" required>
      </div>

      <div class="mb-3">
        <label>Fuel Type</label>
        <input class="form-control" type="text" [(ngModel)]="carObj.fuelType" name="fuelType" required>
      </div>

      <div class="mb-3">
        <label>Seating Capacity</label>
        <input class="form-control" type="number" [(ngModel)]="carObj.seatingCapacity" name="seatingCapacity" required>
      </div>

      <div class="mb-3">
        <label>Image URL</label>
        <input class="form-control" type="text" [(ngModel)]="carObj.imageUrl" name="imageUrl" required>
      </div>

      <button type="submit" class="btn btn-success w-100">Update Car</button>
    </form>
  </div>
</div>
