.footer-container {
    width: 100%;
    background-color: #f8f9fa;
    margin-top: auto;
}

.bg-light {
    background-color: #f8f9fa !important;
}

a {
    color: #009CFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #007acc;
}

.rounded-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
