<div class="navbar-container">
  <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
    <a routerLink="/" class="navbar-brand d-flex d-lg-none me-4">
      <h2 class="text-primary mb-0"><i class="fa fa-hashtag"></i></h2>
    </a>

    <a routerLink="/sidebar" routerLinkActive="active" class="sidebar-toggler flex-shrink-0">
      <i class="fa fa-bars"></i>
    </a>

    <form class="d-none d-md-flex ms-4">
      <input class="form-control border-0" type="search" placeholder="Search" />
    </form>

    <div class="navbar-nav align-items-center ms-auto">
      <!-- Messages Dropdown -->
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
          <i class="fa fa-envelope me-lg-2"></i>
          <span class="d-none d-lg-inline-flex">Message</span>
        </a>
        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
          <a class="dropdown-item" href="#">
            <div class="d-flex align-items-center">
              <img class="rounded-circle" src="assets/img/user.jpg" style="width: 40px; height: 40px;" />
              <div class="ms-2">
                <h6 class="fw-normal mb-0">Jhon sent you a message</h6>
                <small>15 minutes ago</small>
              </div>
            </div>
          </a>
          <hr class="dropdown-divider" />
          <a class="dropdown-item text-center" href="#">See all messages</a>
        </div>
      </div>

      <!-- Notification Dropdown -->
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
          <i class="fa fa-bell me-lg-2"></i>
          <span class="d-none d-lg-inline-flex">Notification</span>
        </a>
        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
          <a class="dropdown-item" href="#">
            <h6 class="fw-normal mb-0">Profile updated</h6>
            <small>15 minutes ago</small>
          </a>
          <hr class="dropdown-divider" />
          <a class="dropdown-item text-center" href="#">See all notifications</a>
        </div>
      </div>

      <!-- Profile Dropdown -->
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
          <img class="rounded-circle me-lg-2" src="assets/img/user.jpg" style="width: 40px; height: 40px;" />
          <span class="d-none d-lg-inline-flex">John Doe</span>
        </a>
        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
          <a class="dropdown-item" href="#">My Profile</a>
          <a class="dropdown-item" href="#">Settings</a>
          <a class="dropdown-item" href="#">Log Out</a>
        </div>
      </div>
    </div>
  </nav>
</div>
