<div class="sidebar pe-4 pb-3">
  <nav class="navbar bg-light navbar-light flex-column align-items-start">
    <a routerLink="/admin" routerLinkActive="active" class="navbar-brand mx-4 mb-3">
      <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>DASHMIN</h3>
    </a>

    <div class="d-flex align-items-center ms-4 mb-4">
      <div class="position-relative">
        <img class="rounded-circle user-img" src="assets/img/user.jpg" alt="user" />
        <div class="status-indicator bg-success"></div>
      </div>
      <div class="ms-3">
        <h6 class="mb-0">Mohamed Suhail</h6>
        <span>Admin</span>
      </div>
    </div>

    <div class="navbar-nav w-100">
      <a routerLink="/admin/dashboard" routerLinkActive="active" class="nav-item nav-link">
        <i class="fa fa-tachometer-alt me-2"></i>Dashboard
      </a>

      <div class="navbar-nav dropdown w-100">
        <a routerLink="/admin/user" routerLinkActive="active" class="nav-link nav-link" >
          <i class="fa fa-laptop me-2"></i>Admin
        </a>
       
      </div>

      <a routerLink="/admin/cardetail" routerLinkActive="active" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Cars List</a>
      <a href="#" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Forms</a>
      <a href="#" class="nav-item nav-link"><i class="fa fa-table me-2"></i>Tables</a>
      <a href="#" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Charts</a>

      <div class="nav-item dropdown w-100">
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
          <i class="far fa-file-alt me-2"></i>Pages
        </a>
        <div class="dropdown-menu w-100">
          <a class="dropdown-item" href="#">Sign In</a>
          <a class="dropdown-item" href="#">Sign Up</a>
          <a class="dropdown-item" href="#">404 Error</a>
          <a class="dropdown-item" href="#">Blank Page</a>
        </div>
      </div>
    </div>
  </nav>
</div>
